<a href="https://colab.research.google.com/github/RTae/AI102/blob/master/week6/iris/Workshop_Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K-Nearest Negibor

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving iris.xlsx to iris.xlsx
User uploaded file "iris.xlsx" with length 12632 bytes

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_excel('iris.xlsx')
df

     sepal length  sepal width  petal length  petal width  class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

- Preapare Data

In [ ]:
from sklearn.utils import shuffle

In [ ]:
df = shuffle(df)
df

     sepal length  sepal width  petal length  petal width  class
12            4.8          3.0           1.4          0.1      0
0             5.1          3.5           1.4          0.2      0
63            6.1          2.9           4.7          1.4      1
81            5.5          2.4           3.7          1.0      1
69            5.6          2.5           3.9          1.1      1
..            ...          ...           ...          ...    ...
136           6.3          3.4           5.6          2.4      2
109           7.2          3.6           6.1          2.5      2
102           7.1          3.0           5.9          2.1      2
42            4.4          3.2           1.3          0.2      0
4             5.0          3.6           1.4          0.2      0

[150 rows x 5 columns]

In [ ]:
X = df.loc[:, 'sepal length':'petal width']
y = df.loc[:, 'class']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) # Split data

In [ ]:
from sklearn import preprocessing 

scaler = preprocessing.MinMaxScaler() # Normalize Data
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

- Training

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors = 6)
clf.fit(X_train_scaled, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                     weights='uniform')

- Predict

In [ ]:
from sklearn.metrics import accuracy_score

y_pred = clf.predict(X_test_scaled)
accuracy_score(y_test, y_pred)

1.0

# Naive Bayes

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

- Prepare Data

In [ ]:
df = pd.read_excel('iris.xlsx')
df

     sepal length  sepal width  petal length  petal width  class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [ ]:
from sklearn.utils import shuffle
df = shuffle(df)
df

     sepal length  sepal width  petal length  petal width  class
76            6.8          2.8           4.8          1.4      1
109           7.2          3.6           6.1          2.5      2
132           6.4          2.8           5.6          2.2      2
116           6.5          3.0           5.5          1.8      2
25            5.0          3.0           1.6          0.2      0
..            ...          ...           ...          ...    ...
48            5.3          3.7           1.5          0.2      0
115           6.4          3.2           5.3          2.3      2
66            5.6          3.0           4.5          1.5      1
44            5.1          3.8           1.9          0.4      0
82            5.8          2.7           3.9          1.2      1

[150 rows x 5 columns]

In [ ]:
X = df.loc[:, 'sepal length':'petal width']
y = df.loc[:, 'class']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

- Learning

In [ ]:
from sklearn.naive_bayes import GaussianNB

clf = GaussianNB()
clf.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

- Predict

In [ ]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.9333333333333333

# Decision Tree

-  Prepare Data

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_excel('iris.xlsx')
df

     sepal length  sepal width  petal length  petal width  class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [ ]:
from sklearn.utils import shuffle
df = shuffle(df)
df

     sepal length  sepal width  petal length  petal width  class
91            6.1          3.0           4.6          1.4      1
76            6.8          2.8           4.8          1.4      1
114           5.8          2.8           5.1          2.4      2
80            5.5          2.4           3.8          1.1      1
3             4.6          3.1           1.5          0.2      0
..            ...          ...           ...          ...    ...
19            5.1          3.8           1.5          0.3      0
118           7.7          2.6           6.9          2.3      2
109           7.2          3.6           6.1          2.5      2
149           5.9          3.0           5.1          1.8      2
16            5.4          3.9           1.3          0.4      0

[150 rows x 5 columns]

In [ ]:
X = df.loc[:, 'sepal length':'petal width']
y = df.loc[:, 'class']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

- Learning

In [ ]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(max_depth=3)
clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

- Predict

In [63]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.9666666666666667

# Random Forest

- Prepare Data

In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [66]:
df = pd.read_excel('iris.xlsx')
df

     sepal length  sepal width  petal length  petal width  class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [67]:
from sklearn.utils import shuffle
df = shuffle(df)
df

     sepal length  sepal width  petal length  petal width  class
30            4.8          3.1           1.6          0.2      0
118           7.7          2.6           6.9          2.3      2
56            6.3          3.3           4.7          1.6      1
74            6.4          2.9           4.3          1.3      1
87            6.3          2.3           4.4          1.3      1
..            ...          ...           ...          ...    ...
50            7.0          3.2           4.7          1.4      1
33            5.5          4.2           1.4          0.2      0
34            4.9          3.1           1.5          0.2      0
36            5.5          3.5           1.3          0.2      0
10            5.4          3.7           1.5          0.2      0

[150 rows x 5 columns]

In [68]:
X = df.loc[:, 'sepal length':'petal width']
y = df.loc[:, 'class']

- Learning

In [70]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=111, max_depth=2)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=111,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

- Predict

In [72]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

1.0

#Support vector machine

- Prepare Data

In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel('iris.xlsx')
df

     sepal length  sepal width  petal length  petal width  class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [75]:
from sklearn.utils import shuffle
df = shuffle(df)
df

     sepal length  sepal width  petal length  petal width  class
42            4.4          3.2           1.3          0.2      0
48            5.3          3.7           1.5          0.2      0
102           7.1          3.0           5.9          2.1      2
73            6.1          2.8           4.7          1.2      1
19            5.1          3.8           1.5          0.3      0
..            ...          ...           ...          ...    ...
67            5.8          2.7           4.1          1.0      1
138           6.0          3.0           4.8          1.8      2
110           6.5          3.2           5.1          2.0      2
60            5.0          2.0           3.5          1.0      1
114           5.8          2.8           5.1          2.4      2

[150 rows x 5 columns]

In [76]:
X = df.loc[:, 'sepal length':'petal width']
y = df.loc[:, 'class']

In [78]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [80]:
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

- Learning

In [81]:
from sklearn.svm import SVC

clf = SVC(gamma='auto')
clf.fit(X_train_scaled, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

- Predict

In [83]:
from sklearn.metrics import accuracy_score

y_pred = clf.predict(X_test_scaled)
accuracy_score(y_test, y_pred)

0.9333333333333333